body{
	text-align: center;
}

.headera{	
	padding: 10px 0 10px 0 ;
	margin: auto;
}

.headera img{
	width: 200px;
}

form{
	margin-top: 25px;
}

.formu{
	margin-bottom: 0;
}

.formu label{
	margin-bottom: 0;
}

.formu input{
	height: 30px;
}

.el-menu{
	padding: 15px 0;
}

.mena{
	padding-bottom: 15px;
}

.mena ul{
	margin-bottom: 0 !important;
}

nav ul li a{
	color:black;
	font-size: 20px;
	width: 100%;
}

.izquierda img{
	width: 100%;
}

.collapsible{
	margin-bottom: 15px;
	width: auto;
}

.collapsible button{
	width: 100%;
}

.derecha img{
	width: 100%;
}

.futer{
	padding-top: 5rem;
	padding-bottom: 3rem;
}

@media (min-width: 400px) {
  .table-responsive {
    display: table;
  }
}