<!DOCTYPE html>
<html lang="es">

  {% include "comun/head.inc" %}
  
  <body>
    <header>

        {% include "comun/nav.inc" %}
         
    </header>
    <main>

        {% include "comun/header.inc" %}
        
        {% block content %}
            {% include "inicio/cuerpo.inc" %}
        {% endblock %}
        
    </main>

    {% include "comun/footer.inc"%}

      
    <script src="/js/slideslow.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/muestra-blog.js"></script>
    <script src="/js/modal.js"></script>
    <script src="/js/contador.js"></script>

  </body>
</html>