{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/tareas/tareas.css">
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <div class="contenido">
            <h1 class="tareas_title">Tareas para alumnos de {{ nombre_curso }}</h1>

            <table class="tareas_table table-striped">
                <thead>
                    <tr>
                        <th class="col-4">Descripción de la tarea</th>
                        <th class="col-4">Asignatura / Módulo</th>
                        <th class="col-4">Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tarea in tareas %}
                        <tr>
                            <td class="col-4">{{ tarea.descripcion }}</td>
                            <td class="col-4">{{ tarea.asignatura }}</td>
                            <td class="col-4">{{ tarea.fecha }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="/index.php?c=tareas">Volver</a>
        </div>
    </div>
{% endblock %}