{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/tareas/tareas.css">
{% endblock %}

{% block content %}
    <style>
        tr:hover{
            background-color:lightcoral !important;
        }
    </style>

    <div class="cuerpo">
        <div class="contenido">
            <h1 class="tareas_title">Tareas para alumnos</h1>
            <p>Seleccione un curso para mostrar las tareas correspondientes.</p>

            {% if cursos %}

                <table class="tareas_table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Turno</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for curso in cursos %}
                            {% if curso.nombre_curso %}
                                <tr>
                                    <td>
                                        <a href="/index.php?c=tareas&a={{ action_ver_curso }}&id_curso={{ curso.id_curso }}">
                                            {{ curso.nombre_curso }}</a>
                                    </td>
                                    <td>
                                        {% if curso.tipo == "ESO" %}E.S.O.
                                        {% elseif curso.tipo == "BACH" %}Bachillerato
                                        {% elseif curso.tipo == "FPB" %}F.P. Básica
                                        {% elseif curso.tipo == "FPGM" %}F.P. Grado Medio
                                        {% elseif curso.tipo == "FPGS" %}F.P. Grado Superior
                                        {% else %}{{ curso.tipo }}
                                        {% endif %}
                                    </td>
                                    <td>

                                        {% if curso.turno == "m" %}Mañana
                                        {% elseif curso.turno == "t" %}Tarde
                                        {% endif %}
                                    </td>
                                </tr>

                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}   
                <p class="cursiva">(No se han encontrado cursos)</p>
            {% endif %}


            <hr>
            <p class="cursiva">(TODO: implementar permisos correctamente)</p>
            <p class="cursiva">(TODO: que el administrador pueda añadir cursos)</p>

        </div>
    </div>
{% endblock %}


