{% extends "index.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="/css/tareas/tareas.css">
{% endblock %}

{% block content %}
    <div class="cuerpo">
        <div class="contenido">
            {% if nombre_curso %}
                <h1 class="tareas_title">Tareas para alumnos de {{ nombre_curso }}</h1>

                {% if tareas %}
                    <table class="tareas_table table-striped">
                        <thead>
                            <tr>
                                <th>Descripción de la tarea</th>
                                <th>Asignatura / Módulo</th>
                                <th>Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tarea in tareas %}
                                <tr>
                                    <td>{{ tarea.descripcion }}</td>
                                    <td>{{ tarea.asignatura }}</td>
                                    <td>{{ tarea.fecha }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p class="no_existe">(No se han encontrado tareas)</p>
                {% endif %}
            {% else %}
                <h1 class="tareas_title">Tareas para alumnos</h1>
                <p class="no_existe">(El curso no existe)</p>
            {% endif %}
            <a href="/index.php?c=tareas">Volver</a>
        </div>
    </div>
{% endblock %}