footer {
  text-align: center;
}

footer .contenedor {
    background: #fff;
    padding: 25px 15px 15px 15px;
}

footer .contenedor a img {
    mix-blend-mode: multiply;
}
footer img{
	height: 50px;
}
