#header{
    /*position:relative;*/
    background-image: url("../../img/banner2.jpg");
    background-repeat: no-repeat;/*no se repite u ocupa todo el ancho la misma imagen*/
    background-size: 100% 100%;
    font-family: 'Merriweather', serif;
    color:black;
    height: 125px;
}

#header .anagrama img {
	height: 110px;
    width: 110px;
    float: left;
    max-width: 335px;
    max-height: 265px;
    
    margin-left: 10px;
}

#header h3{
    font-size: 38px;
    padding-top: 20px;
    max-width: 390px;
}

#header .contenedor{
    height: 120px;
    position: relative;
}

.bandera{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0px 20px 0px 0px;
}

.bandera img{
    height: 20px;
    width: 20px;
    border-radius: 80px 80px 0 0;
}

@media only screen and (max-width: 415px) {
    #header h3{
        font-size: 23px;
        padding-top: 39px;
        max-width: 1000px;
    }
}


@media only screen and (min-width: 600px) {
    #header h3{
        font-size: 35px;
        padding-top: 43px;
        max-width: 1000px;
    }
}

@media only screen and (min-width: 725px) {
    #header h3{
        font-size: 45px;
        padding-top: 38px;
        max-width: 1000px;
    }
}

@media only screen and (min-width: 850px) {
    #header h3{
        font-size: 50px;
        padding-top: 35px;
        max-width: 1000px;
    }
}

@media only screen and (max-width: 1024px) {
    .bandera img{
        visibility: hidden;/*las banderas se ocultan*/
    }

  

}
