.cuerpo{
    padding: 15px 15px 0px 15px;
}

.contenido{
    padding: 15px;
    max-width: 980px;
    background-color: white;
    margin: auto;
}

.contenido li{
    margin-left: 2em;
}

.tareas_table{
    background-color: #CAEBFF;
    width:100%;
    margin:1em 0em;
}

.tareas_table th{
    background-color: #008cba;
    color: #ffffff;
    text-align:center;
    padding:0px;
}

.tareas_table td{
    color: black;
    padding:0.5em;
}

.tareas_table input {
    /*margin: 1em 0em;*/
}

.mensaje_ok{
    background-color: lightgreen;
}

.mensaje_aviso{
    background-color: lightyellow;
}

.mensaje_error{
    background-color: lightcoral;
}

.cursiva{
    font-style: italic;
    text-align: center;
}

.tareas_table{
    text-align: center;
}

.tareas_table button{
    padding:0em 0.25em;
}

.tarea_caducada{
    background-color: lightgray;
}

.tarea_hoy{
    background-color: lightcoral;
    font-weight: bold;
}


/* Flexbox Example 
**************************************************************************/
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox input { width: 100%; }
