.cuerpo{
    padding: 15px 15px 0px 15px;
}

.contenido{
    padding: 15px;
    max-width: 980px;
    background-color: white;
    margin: auto;
}

.contenido li{
    margin-left: 2em;
}

.tareas_table{
    background-color: #CAEBFF;
    width:100%;
    margin:1em 0em;
    text-align: center;
}

.tareas_table th{
    background-color: #008cba;
    color: #ffffff;
    text-align:center;
    padding:0px;
}

.tareas_table td{
    color: black;
    padding:0.5em;
}

.tareas_table thead {
      display: block; 
}

.tareas_table th, td {
    width:1%;
}

.tareas_table tbody {
    height: 300px;
    display: block;
    width: 100%;
    overflow: auto;
}


.tareas_table input {
    /*margin: 1em 0em;*/
}

.mensaje_ok{
    background-color: lightgreen;
}

.mensaje_aviso{
    background-color: lightyellow;
}

.mensaje_error{
    background-color: lightcoral;
}

.cursiva{
    font-style: italic;
    text-align: center;
}



.tareas_table button{
    padding:0em 0.25em;
}

.tarea_caducada{
    background-color: lightgray;
}

.tarea_urgente{
    background-color: lightcoral;
    font-weight: bold;
}

.fas:hover {
    color:yellow;
}

@media (max-width: 650px) {
    .tareas_table tbody{
        height:auto;
        
    }
    
    .tareas_table thead th{
        display:block;
        width:100%;
    }
    
    .tareas_table tr, .tareas_table td{
        display:block;
        width:100%;
    }
    

}


.tareas_table tr:hover{
    background-color: lightcoral !important;
}

#cargando{
    width:100%; 
    height:100%; 
    position:fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    display:none;
}


/* Flexbox Example 
**************************************************************************/
.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox input { width: 100%; }
