{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <button type="button" class="center-button boton-contenido col-4">Agregar incidencia</button>
    <table id="myTable" class="display" data-stripe-classes="[]">
        <thead>
        <tr>
            <th>Incidencia</th>
            <th>Solicitado por</th>
            <th>Estado</th>
            <th>Departamento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for incidencia in incidencias %}
            <tr class="estado-{{ incidencia.estado }}">
                <td>{{ incidencia.nombre }}</td>
                <td>SOLICITANRTE AQUI</td>
                <td>{{ incidencia.estado }}</td>
                <td>Informática</td>
                <td>
                    {% if incidencia.estado != "completado" and permiso == "ADMIN" %}
                        <div class="dropdown">
                            <button class="boton-contenido">Marcar como...</button>
                            <div class="dropdown-content">
                                <a href="#">Completado</a>
                                <a href="#">En proceso</a>
                                <a href="#">Sin empezar</a>
                            </div>
                        </div>
                    {% endif %}
                    {% if permiso == "PROFESOR" %}
                        <button class="boton-contenido">Ver estados</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.css"/>
    <link rel="stylesheet" href="/css/maintenance/crud.css">
{% endblock %}
{% block scripts %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/dt/jqc-1.12.3/dt-1.10.16/r-2.2.1/datatables.min.js"></script>
    <script src="/js/maintenance/crud.js"></script>
{% endblock %}
