{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <button type="button" class="center-button boton-contenido col-4">Agregar incidencia</button>
    <table id="myTable" class="display" data-stripe-classes="[]">
        <thead>
        <tr>
            <th>Incidencia</th>
            <th>Solicitado por</th>
            <th>Estado</th>
            <th>Departamento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for incidencia in incidencias %}
            <tr class="estado-{{ incidencia.estado }}">
                <td>{{ incidencia.nombre }}</td>
                <td>{{ incidencia.estado }}</td>
                <td>{{ incidencia.mensaje_estado }}</td>
                <td>Informática</td>
                <td>
                    {% if incidencia.estado != "completado" %}
                        <div class="dropdown">
                            <button class="boton-contenido">Marcar como...</button>
                            <div class="dropdown-content">
                                <a href="#">Completado</a>
                                <a href="#">En proceso</a>
                                <a href="#">Sin empezar</a>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/maintenance/crud.css">
{% endblock %}
{% block scripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/maintenance/crud.js"></script>
{% endblock %}
