{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <button type="button" class="boton-contenido col-4">Agregar incidencia</button>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>Incidencia</th>
            <th>Solicitado por</th>
            <th>Estado</th>
            <th>Departamento</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Limpiar los váteres</td>
            <td>Erasto</td>
            <td>Sin limpiar</td>
            <td>Informática</td>
            <td>
                <div class="dropdown">
                    <button class="boton-contenido">Marcar como...</button>
                    <div class="dropdown-content">
                        <a href="#">Completado</a>
                        <a href="#">En proceso</a>
                        <a href="#">Sin empezar</a>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    {% for user in usuarios %}
        <li>test {{ user.email }}</li>
    {% endfor %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/css/maintenance/crud.css">
{% endblock %}
{% block scripts %}
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="/js/maintenance/crud.js"></script>
{% endblock %}
