{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="build_modal_response"></div>
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <form class="" id="form_crear_oferta">
                        <h1 class="">Creación Oferta de trabajo</h1>
                        <p class="">Rellena los siguientes campos, para crear una nueva oferta de trabajo
                            <br></p>
                        <div class="form-group">
                            <label>Título de la oferta *</label>
                            <input type="text" class="form-control" placeholder="Oferta de Trabajo" name="titulo_oferta"
                                   required="required">
                            <small class="form-text text-muted">Describe en pocas palabras, lo que estas ofreciendo
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Descripción *</label>
                            <small class="form-text text-muted">Cuentanos en que consiste el trabajo</small>
                            <textarea class="form-control" rows="4" name="descripcion_oferta"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Requisitos *</label>
                            <small class="form-text text-muted">Cuentanos un poco las habilidades necesarias que
                                necesita el/la
                                futur@ candidat@
                            </small>
                            <textarea class="form-control" rows="4" name="requisitos_oferta"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Ciclo de Formación Profesional *</label>
                            <select class="form-control" multiple="" size="10" required="required" name="fp_oferta">


                                {% for estudios in FP_ESTUDIOS %}
                                    <option value="{{ estudios.ID_FP }}">{{ estudios.TITULO }}</option>


                                {% endfor %}

                            </select>
                            <small class="form-text text-muted">Tenemos distintos ciclos, seleciona el que mejor se
                                ajuste a
                                tu medida. Para selección múltiple presiona [Ctrl] y los ciclos que desees
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Nombre de la Empresa</label>
                            <input type="text" class="form-control" placeholder="MiEmpresa SL" name="empresa_oferta">
                            <small class="form-text text-muted">Queremos saber quien ofrece el empleo</small>
                        </div>
                        <div class="form-group">
                            <label>web/información adicional</label>
                            <input type="text" class="form-control" placeholder="www.mi-empresa.es" name="web_oferta">
                            <small class="form-text text-muted">Tienes una web? Quieres ofrecer más información? Has
                                publicado esta oferta en otras plataformas? Dejanos el enlace
                            </small>
                        </div>
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" placeholder="contacto@mi-empresa.es"
                                   name="email_oferta">
                            <small class="form-text text-muted" >Nuestros usuari@s estan interesad@s, escribe un e-mail donde contactarte.&nbsp;
                                <br>Importante: Enviaremos e-mails a esta dirección por cada nuev@ alumn@ que se apunte a la oferta de trabajo</small>
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" placeholder="91123456" name="telefono_oferta">
                            <small class="form-text text-muted">O si lo prefieres, puedes dejarnos un número de telefono
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Vacantes</label>
                            <input type="text" class="form-control" placeholder="10" name="vacante_oferta">
                            <small class="form-text text-muted">Cuántos puestos de empleo, quieres ofrecer</small>
                        </div>
                        <div class="form-group">
                            <label>Salario</label>
                            <input type="text" class="form-control" placeholder="1000" name="salario_oferta">
                            <small class="form-text text-muted">Cuál es el sueldo aproximado, que quieres mostrar?</small>
                        </div>
                        <div class="form-group">
                            <label>Localización</label>
                            <input type="text" class="form-control" placeholder="Madrid" name="localizacion_oferta">
                            <small class="form-text text-muted">Dónde esta el centro de trabajo? Dinos la ciudad,
                                barrio,
                                calle o lugar apróximado
                            </small>
                        </div>
                        <div class="form-group">
                            <label>Caducidad *</label>
                            <input type="date" class="form-control" placeholder="20/01/2025" name="caducidad_oferta"
                                   required="required">
                            <small class="form-text text-muted">Danos un plazo, hasta cuando deseas mostrar esta oferta
                                en
                                nuestra plataforma?
                            </small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg w-25 p-1">Crear Oferta</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <p class="lead">Normas para rellenar el formulario</p>
                    <p class="">Solo se podrá crear una nueva oferta siempre y cuando se cumplan los siguientes
                        requisitos:</p>
                    <ul class="">
                        <li>Todos los campos con ( * ) son obligatorios</li>
                        <li>El título tiene que mínimo de 10 y un máximo de 200 letras.</li>
                        <li>La Descripción tiene un min. de 10 y un max. de 1000 letras.
                            <br>
                        </li>
                        <li>Los Requisitos tienen un min. de 10 y un max. de 750 letras.
                            <br>
                        </li>
                        <li>El Email tienen un min. de 10 y un max. de 80 letras.
                            <br>
                        </li>
                        <li>La Empresa tienen un min. de 10 y un max. de 50 letras.
                            <br>
                        </li>
                        <li>La Web tienen un min. de 10 y un max. de 80 letras.
                            <br>
                        </li>
                        <li>La localización tienen un min. de 10 y un max. de 85 letras.
                            <br>
                        </li>
                        <li>El Teléfono tienen un min. de 8 y un max. de 15 números
                            <br>
                        </li>
                        <li>Las Vacantes disponibles se defienen con un número</li>
                        <li>El salario puede llevar un texto descriptivo.
                            <br>
                        </li>
                        <li>La fecha de caducidad no puede ser menor a la actual, ni superar los tres meses desde hoy.
                            <br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}

    {% include 'bolsaTrabajo/scripts-comunes.html.twig' %}

    <script src="js/bolsaTrabajo/crear_oferta.js"></script>

{% endblock %}
