{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="build_modal_response"></div>
    <div class="py-2">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="card-body p-5 border rounded">
                        <h3 class="pb-3">Editar Perfil</h3>
                        <form id="form_editar_perfil">
                            <div class="form-group">
                                <label>Foto de Perfil</label>
                                <!-- The element where Fine Uploader will exist. -->
                                <div id="fine-uploader"></div>
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input class="form-control" name="NOMBRE" placeholder="Tu nombre, por favor"></div>
                            <div class="form-group">
                                <label>Apellidos</label>
                                <input class="form-control" NAME="APELLIDOS" placeholder="Tus Apellidos, por favor">
                            </div>
                            <div class="form-group">
                                <label>Ciclos Formativos Cursados</label>
                                <select class="form-control" multiple="" required="required" name="FP_CODE">
                                    {% for estudios in FP_ESTUDIOS %}
                                        <option value="{{ estudios.ID_FP }}">{{ estudios.TITULO }}</option>
                                    {% endfor %}
                                </select>
                                <small class="form-text text-muted">Tenemos distintos ciclos, seleciona el que mejor se
                                    ajuste a tu medida. Para selección múltiple presiona [Ctrl] y los ciclos que desees
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Información Personal</label>
                                <small class="form-text text-muted">Cuentanos un poco sobre tu formación previa y
                                    explica tus habilidades destacables que pueden ser relevantes para conseguir un
                                    empleo.
                                </small>
                                <textarea class="form-control" rows="4" name="COMENTARIO"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Experiencia</label>
                                <small class="form-text text-muted">Has trabajado antes? o tienes experiencia de algun
                                    tipo en el hábito laboral? Plásmalo aquí.
                                </small>
                                <textarea class="form-control" rows="4" name="EXPERIENCIA"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Teléfono</label>
                                <small class="form-text text-muted">Este número será visible para todas las personas que
                                    accedan a tu perfil.
                                </small>
                                <input class="form-control" name="TELEFONO" placeholder="615555444"/>
                            </div>
                            <div class="form-group">
                                <label>E-mail</label>
                                <small class="form-text text-muted">Este e-mail será visible para todas las personas que
                                    accedan a tu perfil.
                                </small>
                                <input class="form-control" name="EMAIL" placeholder="miCorreo@gmail.com"/>
                            </div>
                            <div class="form-group">
                                <label>Perfil Externo</label>
                                <input class="form-control" name="PERFIL_EXTERNO" placeholder="Linkedin, Infojobs.....">
                                <small class="form-text text-muted">Tienes un perfil en otra plataforma de empleo más
                                    completa? deja constancia de ello.&nbsp;
                                </small>
                            </div>
                            <div class="form-group">
                                <label>Enlace de Interés</label>
                                <input class="form-control" name="LINK_INTERES" placeholder="tu web personal....">
                                <small class="form-text text-muted">Tienes algo en la web para destacar? deja el link a
                                    tu web &nbsp;o sitio a señalar.&nbsp;
                                </small>
                            </div>
                            <button type="submit" class="btn mt-2 btn-outline-dark">Guardar Perfil&nbsp;
                                <br></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-body p-3">
                        <h3 class="pb-3">Configuraciones adicionales</h3>
                        <form action="" id="form_configuraciones adicionales">
                            <div class="form-group">
                                <label>Estás buscando trabajo?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="BUSCA_TRABAJO" id="" value="true"
                                           checked="">
                                    <label class="form-check-label" for="exampleRadios1"> Si </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="BUSCA_TRABAJO" id=""
                                           value="false">
                                    <label class="form-check-label" for="exampleRadios2"> No </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Quieres recibir ofertas de trabajo por E-mail?</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RECIBIR_OFERTAS" id=""
                                           value="true" checked="">
                                    <label class="form-check-label" for="exampleRadios1"> Si </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="RECIBIR_OFERTAS" id=""
                                           value="false">
                                    <label class="form-check-label" for="exampleRadios2"> No </label>
                                </div>
                            </div>
                            <button type="submit" class="btn mt-2 btn-outline-dark">Guardar Configuraciones</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/template" id="qq-template">
        <div class="qq-uploader-selector qq-uploader" qq-drop-area-text="Suelta una foto aquí">
            <div class="qq-total-progress-bar-container-selector qq-total-progress-bar-container">
                <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                     class="qq-total-progress-bar-selector qq-progress-bar qq-total-progress-bar"></div>
            </div>
            <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
                <span class="qq-upload-drop-area-text-selector"></span>
            </div>
            <div class="qq-upload-button-selector qq-upload-button">
                <div>Sube una foto</div>
            </div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Procesando archivos ...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
            <ul class="qq-upload-list-selector qq-upload-list" aria-live="polite" aria-relevant="additions removals">
                <li>
                    <div class="qq-progress-bar-container-selector">
                        <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                             class="qq-progress-bar-selector qq-progress-bar"></div>
                    </div>
                    <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                    <img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
                    <span class="qq-upload-file-selector qq-upload-file"></span>
                    <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"
                          aria-label="Edit filename"></span>
                    <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                    <span class="qq-upload-size-selector qq-upload-size"></span>
                    <button type="button" class="qq-btn qq-upload-cancel-selector qq-upload-cancel">Cancelar</button>
                    <button type="button" class="qq-btn qq-upload-retry-selector qq-upload-retry">Reintentar</button>
                    <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete">Borrar</button>
                    <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
                </li>
            </ul>

            <dialog class="qq-alert-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cerrar</button>
                </div>
            </dialog>

            <dialog class="qq-confirm-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">No</button>
                    <button type="button" class="qq-ok-button-selector">Si</button>
                </div>
            </dialog>

            <dialog class="qq-prompt-dialog-selector">
                <div class="qq-dialog-message-selector"></div>
                <input type="text">
                <div class="qq-dialog-buttons">
                    <button type="button" class="qq-cancel-button-selector">Cancelar</button>
                    <button type="button" class="qq-ok-button-selector">Ok</button>
                </div>
            </dialog>
        </div>
    </script>


{% endblock %}

{% block scripts %}
    <!-- Fine Uploader -->
    <link href="node_modules/fine-uploader/fine-uploader/fine-uploader-new.css" rel="stylesheet" type="text/css"/>
    <script src="node_modules/fine-uploader/fine-uploader/fine-uploader.min.js" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          type="text/css">
    <link rel="stylesheet" href="https://v40.pingendo.com/assets/4.0.0/default/theme.css" type="text/css">



    <script src="js/bolsaTrabajo/funciones_comunes.js"></script>
    <script src="js/bolsaTrabajo/editar_perfil.js"></script>


{% endblock %}
