{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div class="cuerpoCrud">
        <div class="contenedor colorCrud">

            <h1 class="text-center">Para acceder a esta página, primero debes identificarte.</h1>
            
            {% if mensaje != null %}
                <h2 id="mensaje">{{ mensaje }}</h2>
                
            {% endif %}
            <img class="imgPermisoNo" src="/img/noAcess.png">
            <a class="boton-permissions text-white"
               href="index.php?c={{ constant('Utils\\Constantes::HOME_CONTROLLER') }}">Volver al inicio</a>
        </div>
    </div>

{% endblock %}

