{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div class="cuerpoCrud">
        <div class="contenedor colorCrud">

            <h1 class="text-center">Para acceder a esta página, primero debes identificarte.</h1>

            <a class="boton-contenido text-white"
               href="index.php?c={{ constant('Utils\\Constantes::HOME_CONTROLLER') }}">Volver al inicio</a>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="/js/crudUsers/crudUsers.js"></script>
{% endblock %}