{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="contenido" class="col-12">
        <div class="contenedor">
            <div class="col-12 marco-foto">
                <h1>Recuperación de Constraseña:</h1>
                <p class="parrafoRecuperarPass">Te enviaremos un email con los datos nuevos.</p>
                
                <div id="mensajeRegistro">
                {% if mensajeRegistro != null %}
                    <h2 id="mensajeRegistro">{{ mensajeRegistro }}</h2>
                    <script>
                        $(document).ready(function(){
                            setTimeout(function(){ $("#mensajeRegistro").fadeOut("slow"); }, 5000);
                        });
                            
                    </script>
                {% endif %}
                </div>
                <div id="mensajeRegistroError">
                    {% if mensajeRegistroError != null %}
                        <h2 id="mensajeRegistroError">{{ mensajeRegistroError }}</h2>
                        <script>
                            $(document).ready(function(){
                                setTimeout(function(){ $("#mensajeRegistroError").fadeOut("slow"); }, 5000);
                            });

                        </script>
                    {% endif %}
                </div>
              
                <div class="contForm">
                    <form action="index.php" method="post" id="crud_users">
                        <input type="hidden" name="c" value="login_users">
                        <input type="hidden" name="a" value="recuperarPass">
                        <div class="col-12 col-sm-6 form-group">
                            <label for="nick_user">NICK:</label>
                            <input type="text" id="nick_user" name="nick" placeholder="nick" class="form-control" required>
                        </div>
                        <div class="col-12 col-sm-6 form-group">
                            <label for="email_user">EMAIL:</label>
                            <input type="text" id="email_user" name="email" placeholder="email" class="form-control" required>
                        </div>
                        <div class="col-12 form-group">
                        <input type="submit" value="Enviar" class="botonEnviarPass">
                        </div>        
                    </form>
                </div>
            </div>   
        </div>
    </div>
            
            
{% endblock %}
