{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    <div id="contenido" class="col-12">
        <div class="contenedor">
            <div class="col-12 marco-foto">
                <h1>AJUSTES DE USUARIO</h1>
                
                
                
            </div>   
        </div>
    </div>
{% endblock %}
