header img{
	width: 200px;
	height: 200px;
}

input{
	height: 25px;
}

button{
	margin: 15px !important;
}

.formu{
	padding-top: 25px !important;
	padding-bottom: 25px !important;
}

body{
	text-align: center;
	justify-content: center;
}

.cuerpo img{
	width: 100%;
	height: 200px;
}

.tabla{
	overflow-x: auto;
}
