
    

 {% block content %}


      <section id="contenido" class="col-12">
        <div class="contenedor">
          <div class="col-m-4 marco-foto">
            <h1>Los mejores alumnos y profesores están en este centro</h1>
            <p>Puedes acceder a información pública de forma anónima y a información privada mediante usuario y contraseña</p>
            {% if mensaje != null %}
                <h2 id="mensaje">{{ mensaje }}</h2>
                <script>
                    $(document).ready(function(){
                        setTimeout(function(){ $("#mensaje").fadeOut("slow"); }, 3000);
                    });
                    
                </script>
            {% endif %}
            <button type="button" class="boton-contenido">Acceso público</button>
            <button type="button" class="boton-contenido" onclick="openVentana()">Acceso Restringido</button> 
            <div class="ventana">
              <div class="form">
                <div class="cerrar"><a onclick="closeVentana()">cerrar X</a></div>
                <form class="form-ventana" action="index.php" method="post" id="login_users">
                    <h1>Login</h1>
                  <div>
                      <input type="hidden" name="c" value="login_users">
                    <div class="col-12">
                        <span>Nick:</span>
                        <input type="text" id="nick_user" name="nick" placeholder="nick" required>
                    </div>
                    <div class="col-12">
                        <span>Pass:</span>
                        <input type="Password" name="pass" required>
                    </div>
                      <div class="col-12">
                        <button type="submit" name="a" value="login" class="signupbtn">Entrar</button>
                    </div>
                  </div>
                </form>
                <p>Si has olvidado la contraseña <a href="index.php?c=login_users?a=registrar">Pulsa aqui</a></p>
                <form class="form-ventana" action="index.php" method="post" id="login_user">
                    <h1>Registrarse</h1>
                  <div>
                      <input type="hidden" name="c" value="login_users">
                    
                      <div class="col-12">
                        <button type="submit" name="a" value="registrar" class="signupbtn">Entrar</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="portada col-m-8 marco-foto">
            <div class="contenido-foto">
              <div class="slideshow-container">
                <div class="mySlides">
                  <div class="numbertext"></div>
                    <img alt="tierno1" src="/img/tierno6.jpg">
                    <div class="text">Esta parte del cole es muy vistosa</div>
                  </div>
                  <div class="mySlides">
                    <div class="numbertext"></div>
                    <img alt="tierno2" src="/img/tierno5.jpg">
                    <div class="text">Pie de página segundo</div>
                  </div>
                  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                  <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>
                <br>
                <div style="text-align:center">
                  <span class="dot" onclick="currentSlide(1)"></span>
                  <span class="dot" onclick="currentSlide(2)"></span>
                </div>
              </div>
            </div>
          </div>
        </section>

   {% endblock %}