.navbar{
    background: #008cba !important;
}

.nav-link{
    color: #fff !important;
}


.colorTD{
    color: black !important;
}

.colorCrud{
    background: #fff;
    padding: 15px;
    margin-bottom: 15px !important;
}

.cuerpoCrud{
    padding-top: 15px;
}

.listadoIzquierda{
    float: left;
}

.modificarDerecha{
    float: right;
}

.imgDescarga{
    width: 35px;
    height: 20px;
}

.divDescarga{
    
}

#crud_users span{
    width: 100%;
}

.modUsers{
     display: table;
}

.contForm{
   clear: both;
}

#mensaje{
    color: blue;
    width: 100%;
    padding: 5px 0 15px 15px;
}

#mensajeRegistro{
    color: blue;
}

#mensajeRegistroError{
    
    color: red;
}

#mensajeLogin{
    color: blue;
}

#mensajeLoginError {
    color: red;
    padding: 0 0 0 40px;
}



