<title>IES Enrique Tierno Galván</title>
<meta charset="utf-8">

<meta name="author" content="DAW 2 curso 2017-18">
<meta name="keywords" content="instituto,fp,enrique,tierno,galvan">
<meta name="description" content="Intranet I.E.S. Enrique Tierno Galván">

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Carga de Bootstrap -->
<link rel="stylesheet" href="/Bootstrap/css/bootstrap.min.css">

<!-- Carga de estilos -->
<link rel="stylesheet" href="/css/estilos.css" type="text/css">

<!-- Carga de jquery -->
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

