{# empty Twig template #}
{% extends "index.html.twig" %}

{% block content %}
    
    <div class="contenedor">
          
        <h1>Listado de Usuarios</h1>

        <form action="index.php" method="get" id="crud_users">
            <input type="hidden" name="c" value="crud_users">

            <div class="col-12 col-sm-6 col-lg-4">
                <span>ID</span>
                <input type="text" id="id_user" name="id" placeholder="id" required>
            </div>

            <div class="col-12 col-sm-6 col-lg-4">
                <span>NOMBRE</span>
                <input type="text" id="nombre_user" name="nombre" placeholder="nombre" required>
            </div>
            
            <div class="col-12">
                <input type="submit" name="a" value="insert" class="boton-contenido">
            </div>
        </form>
    </div>
{% endblock %}

